extends ../shared/template
block content

  a(href='/people/#{person._id}/assets/new')
    button Add Asset
  h2= person.name
  .image
    img(src='#{person.photo}')
  .cash $#{person.cash}
  table
    thead
      th name
      th photo
      th value
      th count
      th total
    tbody
      each asset in person.assets
        tr
          td= person.asset.name

block scripts
  script(src='/js/user/home.js')

