extends ../shared/template
block content

  a(href='/people/#{person._id}/assets/new')
    button Add Asset
  h2= person.name
  .image
    img(src='#{person.photo}')
  .cash $#{person.cash}
  table
    thead
      th name
      th photo
      th value
      th count
      th total
    tbody
      each asset in person.assets
        tr
          td= asset.name
          td: img(src='#{asset.photo}')
          td $#{asset.value}
          td= asset.count
          td $#{asset.count * asset.value}

block scripts
  script(src='/js/user/home.js')

